#app {
  font-family: 'Open Sans', sans-serif; }
  #app #search-container {
    margin: 10px auto 0px auto;
    width: 594px;
    display: flex; }
    #app #search-container input {
      margin-right: 15px;
      float: left; }
    #app #search-container button {
      float: left;
      margin-right: 5px; }
    #app #search-container #pagination-container {
      float: left; }
      #app #search-container #pagination-container label {
        margin-right: 5px; }
  #app .results li {
    display: block;
    margin-bottom: 5px; }
