#app {
  font-family: 'Open Sans', sans-serif;

  #search-container{
    .input-group, button{
      height: 38px;
    }

  }

  .results{
    li{
      display: block;
      margin-bottom: 5px;
    }
  }

  #navigation-btns{
    width: 140px;
    margin: 0 auto;

    button{
      margin-right: 15px;
      height: 35px;
    }
  }

  #single-view{
    img{
      display: block;
      margin: 15px auto;
    }
  }
}