#app {
  font-family: 'Open Sans', sans-serif; }
  #app #search-container .input-group, #app #search-container button {
    height: 38px; }
  #app .results li {
    display: block;
    margin-bottom: 5px; }
  #app #navigation-btns {
    width: 140px;
    margin: 0 auto; }
    #app #navigation-btns button {
      margin-right: 15px;
      height: 35px; }
  #app #single-view img {
    display: block;
    margin: 15px auto; }
