#app {
  font-family: 'Open Sans', sans-serif;
  
  #search-container{
    margin: 10px auto 0px auto;
    width: 594px;
    display: flex;

    input {
      margin-right: 15px;
      float: left;
    }

    button {
      float: left;
      margin-right: 5px;
    }
    #pagination-container{
      float: left;
      label{
        margin-right: 5px;
      }
    }
  }

  .results{
    li{
      display: block;
      margin-bottom: 5px;
    }
  }
}